body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  line-height: 24px;
}

.link:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 15px;
}

.nav {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.nav__item {}

.nav__item+.nav__item {
  margin-left: 15px;
}

.user-menu {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: orange;
  font-size: 18px;
  color: white;
  line-height: 32px;
  text-decoration: none;
  text-align: center;
}

.popup {
  position: relative;
}

.popup__input {
  display: none;
}

.popup__input:checked+.popup__body {
  display: block;
}

.popup__body {
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  top: calc(100% + 20px);
  right: -50px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  color: #000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  overflow: hidden;
  right: 0;
  top: 44px;
  /*animation: gb__a .2s;*/
  border-radius: 2px;

}

.popup__content {
  min-height: 100px;
  padding: 28px;
  padding-right: 27px;
  text-align: left;
  white-space: normal;
  width: 265px;
}

.popup__label {
  cursor: pointer;
  position: relative;
}

.popup__body:before {
  content: '';
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent grey transparent;
  top: -20px;
  right: 50px;
  margin-left: -7px;
}

.popup__body:after {
  content: '';
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent white transparent;
  top: -19px;
  right: 50px;
}